body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

#ubicacion-detalle, #clima-detalle {
    font-size: 1.2rem;
}

#lugares-lista, #materiales ul, #datos ul, #manualidades ul {
    list-style-type: none;
    padding: 0;
}

#lugares-lista li, #materiales li, #datos li, #manualidades li {
    margin-bottom: 0.5rem;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #007BFF;
    color: white;
}